<header>
    <div class="container">
        <h1>NGO Event Organizer</h1>
        <nav>
            <ul>
                <li><a href="Event.html">Home</a></li>
                <li><a href="Aboutus.html">About Us</a></li>
                <li><a href="create-event.html">Create Event</a></li>
                <li><a href="Event-page.html">Events</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Signup.html">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>


<section id="contact">
    <div class="container">
        <h2>Contact Us</h2>
        <link rel="stylesheet" href="styles.css">
        <p>If you have any questions or inquiries, feel free to get in touch with us.</p>
        <form id="contactForm">
            <div class="form-group">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            <button type="submit" class="btn">Send Message</button>
        </form>
    </div>
</section>
